<h3>Wellcome to our shop</h3>
<div>
  <a style="margin: 1em" mat-raised-button routerLink="/main" routerLinkActive="active">Main</a>
  <a style="margin: 1em" mat-raised-button routerLink="/addproduct" routerLinkActive="active">Add product</a>
  <a style="margin: 1em" mat-raised-button routerLink="/pricehistory" routerLinkActive="active">Price history</a>
  <a style="margin: 1em" mat-raised-button routerLink="/purchasehistory" routerLinkActive="active">Purchase history</a>
</div>
<router-outlet></router-outlet>
